<div class="header">
  <h1><%= @league.name %></h1>
  <div class="description">
    <%= @league.description %> |
    <%= @league.is_public ? 'Public' : 'Private' %> |
    <%= @league.is_completed ? 'Complete' : 'Ongoing' %> |
    <%= link_to 'Edit League Settings', edit_league_path(@league) %>
  </div>
</div>

<div id="content">
  <p id="notice"><%= notice %></p>

  <div class="section">
    <h2>New match</h2>
    <div class="content">
    </div>
  </div>

  <div class="section">
    <h2>Recent matches</h2>
    <div class="content">
    </div>
  </div>
</div>

<div id="sidebar">
  <h2>Player Ranking</h2>
  <ol>
    <% @league.players.each do |player| %>
      <li>
        <%= player.inspect %>
      </li>
    <% end %>
  </ol>
</div>


