<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @league.name %>
</p>

<p>
  <b>Description:</b>
  <%= @league.description %>
</p>

<p>
  <b>Is public:</b>
  <%= @league.is_public %>
</p>

<p>
  <b>Is completed:</b>
  <%= @league.is_completed %>
</p>


<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>
