<div id="main-content">
  <div class="section">
    <h2>Rank Everything</h2>
    <div class="content">
      <p>
        ELO is a system developed for ranking Chess players based on <strong>relative strengths between players.</strong>
      </p>

      <p>
        It's very general and can be used to rank players in any kind of competition that has games or matches between two players at a time.

        These games all use ELO, or some variant of ELO, to rank players: 
        <ul>
          <li>Chess</li>
          <li>Go</li>
          <li>Table tennis</li>
          <li>Many videogames, such as Starcraft, ________</li>
        </ul>
      </p>

      Have any group competitions? _______
      <ul>
        <li>Internal company ping pong</li>
        <li>Club foosball</li>
      </ul>
    </div>
  </div>

  <div class="section">
    <h2>Elotracker Features</h2>
    _______screenshots______
    <div class="content">
      <ul>
        <li>Leagues</li>
        <li>Track your own ELO stats</li>
        <li>Private or public leagues</li>
      </ul>
    </div>
  </div>

  <div class="section">
    <h2>ELO rating example</h2>
    <div class="content">
      <p>
        For example, if you have two players, Bobby and Gary, playing your game of choice.
        Bobby has an ELO rating of 2500, which is very good.
        Gary has a rating of 1250, which is below average.
      </p>
      
      <p>
        If Bobby beats Gary in a clean 1-0 victory, then the change in his rating is calculated as _________. Gary's change in rating is calculated as __________.
      </p>

      <p>
        Now suppose Gary upsets Bobby in a 1-0 victory. Using the same calculation, Bobby now loses _______ points and Gary gains ______ points. 
      </p>

      <p>
        Gary gains many more points because the ELO system awards points based on the relative strength of the two competitors.
      </p>

      <p>
        New players start out at an ELO ranking that is considered "average".
        In Chess, this inital ranking is 1500, but the number itself is arbitrary, and you can customize the starting number in Elotracker.
      </p>
    </div>
  </div>
</div>

<div id="sidebar">
  <div class="section">
    <h2>Create a new league</h2>
    <%= form_for @league do |form| %>
      <%= form.label :name %>
      <%= form.text_field :name, :placeholder => 'e.g. Google Foosball 2012' %>
      <%= form.submit 'Create' %>
    <% end %>
  </div>

  <div class="section">
    <h2>Recent activity in public leagues</h2>
    <%# TODO %>
  </div>
</div>

<div id="footer">
  <%# TODO credit to gaslight/elo, iain/elo, also originates from wanting to track ping pong stats %>
  <%= link_to 'About' %> |
  <%= link_to 'API' %> |
  <%= link_to 'Contact' %> |
  Built by <%= link_to 'Kevin Qi', 'http://qikev.in' %>
</div>
