<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @player.name %>
</p>

<p>
  <b>K factor:</b>
  <%= @player.k_factor %>
</p>

<p>
  <b>Is professional:</b>
  <%= @player.is_professional %>
</p>

<p>
  <b>League:</b>
  <%= @player.league %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
