<!DOCTYPE html>
<html>
<head>
  <title>
    <% content_for(:page_title, @page_title || controller.action_name.try(:titleize)) %>
    <%= page_title(:app_name => 'Elotracker', :separator => ' | ') %>
  </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700" rel="stylesheet" type="text/css">
</head>
<body class="<%= body_class %>">

  <%# Navigation %>
  <div class="header">
    <div id="logo">
      <%= link_to 'Elotracker', root_path, {:class => 'site-logo'} %>
      <div class="description">Custom competition ELO tracker</div>
    </div>

    <div id="navigation">
      <%= link_to 'View your leagues' %>
      <%= link_to 'Create a new league' %>
      <%= link_to 'Sign in' %>
    </div>
  </div>

  <%= yield %>

</body>
</html>
